
#specificFilterHeading {
  position: fixed;
  top: 18%;
  left: 20px;
  color: white;
  z-index: 9999;

}

.intro-container {
  display: flex;
  position: fixed;
  top: 27%;
  left: 20px;
}




#adjectivesContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 29.5%;
  left: 20px;
}




.rhythmRhythmfilter-container {
  font-style: italic;
  margin-top: 29%;
  margin-left: -38%;
}

.soundSoundfilter-container {
  font-style: italic;
    margin-top: 29%;

}

.colorColorfilter-container {
  font-style: italic;
    margin-top: 29%;
    z-index: 9998;

}



#chordFiltersContainer {
  position: fixed;
  font-style: italic;
  top: 47%;
  left: 20px;
}

.genrefilter-container {
  display: flex;
  position: fixed;
  top: 62%;
  left: 20px;
}

.genrefilter-container2 {
  display: flex;
  position: fixed;
  top: 62%;
  left: 110px;
}

.genrefilter-container3 {
  display: flex;
  position: fixed;
  top: 62%;
  left: 200px;
}


  .show-genre-filter {
    position: fixed;
  top: 62%;
  left: 112px;
  background-color: black;
  font-weight: bold;
  border-radius: 0;
  width: 19px;
  height: 19px;
  }

  .show-genre-filter2 {
    position: fixed;
  top: 62%;
  left: 202px;
  font-weight: bold;
  background-color: black;
  border-radius: 0;
  width: 19px;
  height: 19px;
  }

  .hide-genre-filter {
    position: fixed;
  top: 62%;
  left: 112px;
  background-color: black;
  font-weight: bold;
  border-radius: 0;
  width: 19px;
  height: 19px;
  }

  .hide-genre-filter2 {
    position: fixed;
  top: 62%;
  left: 202px;
  font-weight: bold;
  background-color: black;
  border-radius: 0;
  width: 19px;
  height: 19px;
  }



#generalFilterHeading {
  position: fixed;
  top: 53.5%;
  left: 20px;
  color: white;
}



#keyFilterHeading {
  position: fixed;
  top: 65.5%;
  left: 20px;
  color: white;
  display: none;
}


.keyfilter-container {
  display: flex;
  position: fixed;
  top: 74%;
  left: 20px;
  display: none;
}



.search-container {
  display: flex;
    position: fixed;
  top: 78%;
  left: 20px;
  color: white;
}


#trackSearchInput {
  width: 50px; /* Adjust the width as desired */
  height: 11px; /* Adjust the height as desired */
  font-size: 14px; /* Adjust the font size as desired */
  padding: 5px; /* Adjust the padding as desired */
  position: fixed;
  left: 206px;
  top: 81%;
}

#searchButton {
  position: fixed;
  font-size: 14px;
  font-weight: bold;
  left: 272.5px;
  top: 81%;
  height: 24px;
  width: 85px;
  background-color: black;
  border-radius: 0;
}

#cancelButton {
  position: fixed;
  font-size: 14px;
  font-weight: bold;
  left: 272.5px;
  top: 81%;
  height: 24px;
   width: 85px;
  background-color: red;
  border-radius: 0;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
   width: 85px;
  cursor: pointer;
  background-color: transparent;
  opacity: 1;
}

